.CountriesSelectorBlock{ 
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    margin:auto;
    margin-top:10px;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 70%;
}
.CountriesSelectorBlockDark{ 
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    margin:auto;
    margin-top:10px;
    font-size: 1.5rem;
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 70%;
}
.picAndCountryName{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    margin: auto;
    font-weight: 700;
    font-size:2rem;
}
.picAndCountryNameDark{
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    margin: auto;
    font-weight: 700;
    font-size:2rem;
}
.ChangeCountryButton{
    padding: 0.5rem 1rem;
    background: rgb(89, 175, 251);
    border-color: rgb(244, 242, 242);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    white-space: nowrap;
    margin: auto;
    font-size:1.4rem;
    width: 20rem;
}
.ChangeCountryButton:hover{
    cursor: pointer;
}

.ChangeCountryButtonDark{
    padding: 0.5rem 1rem;
    background: rgba(4, 123, 227, 0.717);
    border-color: rgb(42, 42, 42);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    color:white;
    white-space: nowrap;
    margin: auto;
    width: 12rem;
    font-size:1.4rem;
    width: 20rem;
    
}
.ChangeCountryButtonDark:hover{
    cursor: pointer;
}

.countryNameInfo{
    margin: auto;
    display: flex;
}
.countryNameInfoDark{
    margin: auto;
    display: flex;
}

.countryInfo{
    display: flex;
    margin: 0px;
}
.countryInfoDark{
    display: flex;
    margin: 0px;
}
.countryFlag{
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5)
}