.skills_block{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

}
.skills{
  display: flex;
  flex-wrap: wrap;
}
.skills_title{
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.skill{
  width: fit-content;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 5px 15px;
  background-color: rgb(94, 195, 241);
  border-radius: 4px;
}

.skills_blockDark{
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.skillsDark{
  display: flex;
  flex-wrap: wrap;
}
.skills_titleDark{
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.025em;
}
.skillDark{
  width: fit-content;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 5px 15px;
  background-color: rgb(6, 91, 131);
  border-radius: 4px;
}